{% extends "base.html" %}
{% load i18n static %}
{% block title %}
{% trans "Форма обратной связи" %}
{% endblock %}
{% block content %}
<h1>{% trans "Форма обратной связи" %}</h1>
{% if messages %}
<div class="my-2 mx-auto">
  {% for message in messages %}<div class="alert alert-warning my-1">{{ message }}</div>{% endfor %}
</div>
{% endif %}
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="mx-1 my-2">
    <div class="my-3">
      {{ forms.author_form.as_p }}
      {{ forms.content_form.as_p }}
      {{ forms.files_form.as_p }}
    </div>
  </div>
  <input type="submit" class="btn btn-primary mb-2">
</form>
{% endblock %}