{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Статистика пользователя" %}{% endblock %}
{% block content %}
<h1>{% trans "Статистика пользователя" %} {{ user.username }}</h1>
<h2>
  {% trans "Всего оценок:" %}
  {% if total_ratings %}
  {{ total_ratings }}
  {% else %}
  {% trans "нет оценок" %}
  {% endif %}
</h2>
<h2>
  {% trans "Средняя оценка:" %}
  {% if average_rating %}
  {{ average_rating }}
  {% else %}
  {% trans "нет оценок" %}
  {% endif %}
</h2>
<h2>
  {% trans "Лучший товар:" %}
  {% if best_item %}
  <a href="{% url 'catalog:item-detail' best_item.id %}">{{ best_item.name }}</a>
  {% else %}
  {% trans "нет товара" %}
  {% endif %}
</h2>
<h2>
  {% trans "Худший товар:" %}
  {% if worst_item %}
  <a href="{% url 'catalog:item-detail' worst_item.id %}">{{ worst_item.name }}</a>
  {% else %}
  {% trans "нет товара" %}
  {% endif %}
</h2>
{% endblock %}