[flake8]
inline-quotes = "
multiline-quotes = "
docstring-quotes = """
import-order-style = google
application-import-names = lyceum, about, catalog, homepage, core
exclude = */migrations/
max-line-length = 79