[flake8]
inline-quotes = "
multiline-quotes = "
docstring-quotes = """
import-order-style = google
application-import-names = lyceum, about, catalog, homepage, core, download, feedback
exclude = */migrations/ manage.py
max-line-length = 79