<!DOCTYPE html>
<html lang="ru">
    {% load static %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Сброс пароля</title>
        <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}" >
        <script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
        <link rel="icon" type="image" href="{% static 'img/favicon.ico' %}" >
    </head>
    <h1>Сброс пароля</h1>
    {% include "includes/form.html" %}
    <button type="submit">Сбросить пароль</button>
</html>