{% extends "base.html" %}
{% load i18n static %}
{% block title %}
{% trans "Восстановление пароля" %}
{% endblock %}
{% block content %}
<h1 class="fs-2 fw-bold text-center">{% trans "Письмо отправлено!" %}</h1>
<div class="container d-flex justify-content-center">
  <div class="w-50">
    <div class="alert alert-success">
      <p>{% trans "Мы отправили сообщение с инструкцией по восстановлению пароля на электронную почту" %}</p>
      <p>{% trans "Если вам не приходит письмо, проверьте, корректно ли вы заполнили данные эл. почты" %}</p>
    </div>
  </div>
</div>
{% endblock %}