{% extends "base.html" %}
{% load i18n static widget_tweaks %}
{% block title %}
{% trans "Смена пароля" %}
{% endblock %}
{% block content %}
{% if validlink %}
<h1 class="fs-2 fw-bold text-center">{% trans "Пароль успешно изменён" %}</h1>
<div class="container d-flex justify-content-center">
  <div class="w-50">
    <div class="alert alert-success">
      <h1 class="alert-heading">{% trans "Можете пользоваться новым паролем!" %}</h1>
      <p>{% trans "Удачного пользования сервисом" %}</p>
    </div>
  </div>
</div>
{% else %}
<h1 class="fs-2 fw-bold text-center">Упс!</h1>
<div class="container d-flex justify-content-center">
  <div class="w-50">
    <div class="alert alert-success">
      <h1 class="alert-heading">{% trans "Ссылка больше недействительна" %}</h1>
      <p>{% trans "Вероятно, у неё истёк период действия, или ей уже воспользовались :(" %}</p>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}