<div class="footer" align="center">
  <footer class="footer-text">
    <p>© Almas Vildanov <span id="footerText">{% now "Y" %}</span></p>
  </footer>
</div>

<script lang="js">
  var footerText = document.getElementById("footerText");

  var clientTime = new Date();
  var serverTime = new Date("{% now 'd-m-Y H:i:s' %}");
  const timeDifference = Math.abs(clientTime - serverTime);
  const hoursDifference = Math.floor(timeDifference / (1000 * 60 * 60));

  if (hoursDifference > 24) {
    footerText.textContent = clientTime.getFullYear()
  }
</script>