{% load i18n static %}
<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    {% load i18n %}
    
    <a href="{% url "homepage:home" %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <img src="{% static "img/logo.svg" %}" alt="" width=7%>
      <span class="fs-4">{% trans "Продукты у Кота" %}</span>
    </a>
    {% with request.resolver_match.view_name as view_name %}
    <ul class="nav nav-pills">
      {% if request.user.is_staff and request.user.is_superuser %}
        <li class="nav-item"><a class="badge bg-dark" style="margin:10px;" href={% url "admin:index" %}>{% trans "Админ" %}</a></li>
      {% endif %}
      {% if view_name == "homepage:home" %}
        <li class="nav-item"><a class="nav-link active">{% trans "Главная" %}</a></li>
      {% else %}
        <li class="nav-item"><a href="{% url "homepage:home" %}" class="nav-link">{% trans "Главная" %}</a></li>
      {% endif %}

      {% if view_name == "about:about" %}
        <li class="nav-item"><a class="nav-link active">{% trans "О проекте" %}</a></li>
      {% else %}
        <li class="nav-item"><a href="{% url "about:about" %}" class="nav-link">{% trans "О проекте" %}</a></li>
      {% endif %}

      {% if view_name == "feedback:feedback" %}
        <li class="nav-item"><a class="nav-link active">{% trans "Отзыв" %}</a></li>
      {% else %}
        <li class="nav-item"><a href="{% url "feedback:feedback" %}" class="nav-link">{% trans "Отзыв" %}</a></li>
      {% endif %}

      {% if view_name == "catalog:item-list" %}
        <li class="nav-item"><a class="nav-link active">{% trans "Список товаров" %}</a></li>
      {% else %}
        <li class="nav-item"><a href="{% url "catalog:item-list" %}" class="nav-link">{% trans "Список товаров" %}</a></li>
      {% endif %}

      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          {% trans "Пользователи" %}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          {% if view_name == "users:login" %}
            <li class="dropdown-item"><a class="dropdown-item active">Войти</a></li>
          {% else %}
            <li class="dropdown-item"><a href="{% url "users:login" %}" class="dropdown-item">Войти</a></li>
          {% endif %}

          {% if view_name == "users:signup" %}
            <li class="dropdown-item"><a class="dropdown-item active">Зарегистрироваться</a></li>
          {% else %}
            <li class="dropdown-item"><a href="{% url "users:signup" %}" class="nav-link">Зарегистрироваться</a></li>
          {% endif %}

          {% if view_name == "users:user_list" %}
            <li class="dropdown-item"><a class="dropdown-item active">Список пользователей</a></li>
          {% else %}
            <li class="dropdown-item"><a href="{% url "users:user_list" %}" class="nav-link">Список пользователей</a></li>
          {% endif %}

          {% if view_name == "users:profile" %}
            <li class="dropdown-item"><a class="dropdown-item active">Профиль</a></li>
          {% else %}
            <li class="dropdown-item"><a href="{% url "users:profile" %}" class="nav-link">Профиль</a></li>
          {% endif %}
        </ul>
      </div>

      <form action="{% url 'set_language' %}" method="post" class="language-switcher">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ request.path }}" />
        <select name="language" onchange="this.form.submit()" class="form-select" style="margin:2px;">
          {% get_current_language as LANGUAGE_CODE %}
          {% get_available_languages as LANGUAGES %}
          {% for lang_code, lang_name in LANGUAGES %}
            <option value="{{ lang_code }}" {% if lang_code == LANGUAGE_CODE %}selected{% endif %}>
              {% if lang_code == 'en' %}
                {% trans "Английский" %}
              {% elif lang_code == 'ru' %}
                {% trans "Русский" %}
              {% else %}
                {{ lang_name }}
              {% endif %}
            </option>
          {% endfor %}
        </select>
      </form>
    </ul>
    {% endwith %}
  </header>
</div>
