{% load i18n static %}
<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <img src="{% static "img/logo.svg" %}" alt="" width=7%>
      <span class="fs-4">{% trans "Продукты у Кота" %}</span>
    </a>
    {% with request.resolver_match.view_name as view_name %}
    <ul class="nav nav-pills">
      {% if view_name == "homepage:home" %}
      <li class="nav-item"><a class="nav-link active">{% trans "На главную" %}</a></li>
      {% else %}
      <li class="nav-item"><a href="{% url "homepage:home" %}" class="nav-link">{% trans "На главную" %}</a></li>
      {% endif %}

      {% if view_name == "about:about" %}
      <li class="nav-item"><a class="nav-link active">{% trans "О проекте" %}</a></li>
      {% else %}
      <li class="nav-item"><a href="{% url "about:about" %}" class="nav-link">{% trans "О проекте" %}</a></li>
      {% endif %}

      {% if view_name == "catalog:item_list" %}
      <li class="nav-item"><a class="nav-link active">{% trans "Список товаров" %}</a></li>
      {% else %}
      <li class="nav-item"><a href="{% url "catalog:item_list" %}" class="nav-link">{% trans "Список товаров" %}</a></li>
      {% endif %}
    </ul>
    {% endwith %}
  </header>
</div>
