{% extends "base.html" %}

{% load static %}
<link rel="stylesheet" href="{% static "css/main.css" %}">

{% block content %}
<div align="center">
    <div class="row">
      <div class="col-12 col-md-6 col-xl-4">
        <div class="card bg-light" style="width: 18rem; margin: 5px;">
            <img src="{% static "img/apple.png" %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Яблоко "Грэнни Смит"</h5>
              <p class="card-text">Да, это яблоко</p>
              <a href="{% url "item_detail" 1 %}" class="btn btn-secondary">Подробнее</a>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card bg-light" style="width: 18rem; margin: 5px;">
            <img src="{% static "img/papaya.png" %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Папайя</h5>
              <p class="card-text">Освежающий фрукт</p>
              <a href="{% url "item_detail" 2 %}" class="btn btn-secondary">Подробнее</a>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card bg-light" style="width: 18rem; margin: 5px;">
            <img src="{% static "img/nut.png" %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Грецкий орех</h5>
              <p class="card-text">Отлично подойдет для ланча</p>
              <a href="{% url "item_detail" 3 %}" class="btn btn-secondary">Подробнее</a>
            </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}